<div class="modal-header">
	<h4 id="modal-title">{{modalTitle}}</h4>
</div>
<div class="modal-body">
	<div class="infoView">
	<form>
	    <label><i class="fa fa-globe"></i>&nbsp;&nbsp;WebID</label>
	       <input name="name" ng-model="newcontact.webid" ng-focus="isFocused" type="text">
	    <label><i class="fa fa-user"></i>&nbsp;&nbsp;Name</label>
	       <input name="name" ng-model="newcontact.fullname" type="text">
	    <label><i class="fa fa-envelope"></i>&nbsp;&nbsp;Email</label>
	       <input name="email" ng-model="newcontact.email" type="text">
	    <label><i class="fa fa-phone"></i>&nbsp;&nbsp;Phone</label>
	       <input name="phone" ng-model="newcontact.phone" type="text">
	    <label ng-if="modalTitle == 'Create vCard'"><i class="fa fa-folder-open"></i>&nbsp;&nbsp;Storage</label>
	   	   <select class="form-control" ng-model="newcontact.workspace" ng-options="s for s in userProfile.contactStorages" ng-if="modalTitle == 'Create vCard'"></select>
	    <p class="noteTitle" id="note-Title">{{noteTitle}}</p>
	    
	       <input ng-model="newcontact.id" type="hidden">
	</form>
	</div>
	<div class="photoView">
		<label><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Photo</label>
	   	   <input name="name" ng-model="newcontact.photo" type="text">
	</div>
</div>
<div class="modal-footer">
<button class="btn btn-success" ng-click="saveProfile(newcontact)">Save</button>
	<button class="btn" ng-click="closeProfileEditor()">Cancel</button>
</div>