<div class="modal-header">
	<h4 id="modal-title">{{modalTitle}}</h4>
</div>
<div class="modal-body">
	<div class="infoView">
	<form>
	    <label>WebID</label>
	       <input name="name" ng-model="newcontact.webid" ng-focus="isFocused" type="text">
	    <label>Name</label>
	       <input name="name" ng-model="newcontact.fullname" type="text">
	    <label>Email</label>
	       <input name="email" ng-model="newcontact.email" type="text">
	    <label>Phone</label>
	       <input name="phone" ng-model="newcontact.phone" type="text">
	    <input ng-model="newcontact.id" type="hidden">
	    <label>Workspace</label>
	   	   <select class="form-control" ng-model="newcontact.workspace" ng-options="s for s in userProfile.contactStorages"><option></option></select>
	    <p class="noteTitle" id="note-Title">{{noteTitle}}</p>
	</form>
	</div>
	<div class="photoView">
		<label>Photo</label>
	   	   <input name="name" ng-model="newcontact.photo" type="text">
	</div>
</div>
<div class="modal-footer">
<button class="btn btn-success" ng-click="saveProfile(newcontact)">Save</button>
	<button class="btn" ng-click="closeProfileEditor()">Cancel</button>
</div>