<div class="modal-header">
	<h4 id="modal-title">{{modalTitle}}</h4>
</div>
<div class="modal-body">
	<div class="infoView">
	<form>
		<label class="spacedBottom">
  			<i class="fa fa-database"></i>&nbsp;
  			Storage
 		</label>
 		   <p type="text" ng-if="userProfile.contactStorages.length == 0" ></p>
	       <p type="text" ng-repeat="s in userProfile.contactStorages">{{s}}</p>
	    <label class="spacedTop spacedBottom">
	  			<i class="fa fa-plus"></i>&nbsp;
	  			Add new storage
		</label>
	   		<p class="big-weight">
	   			<select class="form-control" ng-model="mystorage.workspace" ng-options="ws for ws in userProfile.workspaces"></select>&nbsp;/&nbsp;<input class="bold_placeholder" ng-model="mystorage.storagename" ng-focus="isFocused" type="text" placeholder="container name...">
			</p>
		<button class="btn btn-success" ng-click="newStorage(mystorage)">Save</button>
		<p class="noteTitle" id="note-Title">{{noteTitle}}</p>
	</form>
	</div>
</div>
<div class="modal-footer">
	<button class="btn" ng-click="closeMyStorage()">Close</button>
</div>