<div class="modal-header">
	<h4 id="modal-title">{{modalTitle}}</h4>
</div>
<div class="modal-body">
	<div class="infoView">
	<form>
	    <label><i class="fa fa-globe"></i>&nbsp;&nbsp;WebID</label>
	       <p name="name" ng-model="viewcontact.webid" type="text">{{viewcontact.webid}}</p>
	    <label class="spacedTop"><i class="fa fa-user"></i>&nbsp;&nbsp;Name</label>
	       <p name="name" ng-model="viewcontact.fullname" type="text">{{viewcontact.fullname}}</p>
	    <label class="spacedTop"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Email</label>
	       <p name="email" ng-model="viewcontact.email" type="text"><a href="mailto:{{viewcontact.email}}">{{viewcontact.email}}</a></p>
	    <label class="spacedTop"><i class="fa fa-phone"></i>&nbsp;&nbsp;Phone</label>
	       <p name="phone" ng-model="viewcontact.phone" type="text">{{viewcontact.phone}}</p>
	</form>
	</div>
	<div class="photoView">
		<img src="{{viewcontact.photo}}" alt="{{viewcontact.photo}}"  width="90px" height="90px">
	</div>
</div>
<div class="modal-footer">
	<button class="btn" ng-click="closeProfileViewer()">Cancel</button>
</div>